body {
    text-align: center;
    background: rgb(27, 37, 46);
    width: 960px;
    margin: auto;
    }



#first {
    background: grey;
    padding-top: 1em;    
    padding-bottom: 1em;
    margin-bottom: .4em;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em; 
    float: left;
    width: 100%;
    margin-bottom: .5em;
    margin-top: 1em;
}

#two {
    background: grey;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: .6em; 
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 2em;
    width: 100%;
    float: left;
    margin-bottom: .75em;

}

#first-section {
    float: left;
    width: 525px;
    height: 250px;
    background: grey;
    padding-top: 2em;
    font-family: 'Permanent Marker', cursive;

}

#second-section {
    overflow: hidden;
    float: right;
    width: 416px;
    height: 250px;
    background: grey;
    padding-top: 2em;
    font-family: 'Permanent Marker', cursive;
}

#arty {
    position: relative;
    background: black;
    color: white;
    padding-top: 1em;
    padding-bottom: 9em;
    text-align: center;
    bottom: -1.5em;
    margin-right: 1em;
    margin-left: 1em;
    font-family: 'Shadows Into Light', cursive;

}

h1, h2, h3 {
    display:inline;
}

#h123 {
    position: relative;
    background: grey;
    padding-top: .75em;
    padding-bottom: .75em;
    text-align: center;
    bottom: 6.3em;
    left: 3em;
    margin-right: 6em;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}

#party {
    position: relative;
    background: grey;
    padding-top: .75em;
    padding-bottom: .75em;
    text-align: center;
    bottom: 6.3em;
    left: 3em;
    margin-right: 6em;
}


#end {
    background: grey;
    padding-top: 1em;
    padding-bottom: 1em; 
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em; 
    float: left;
    width:  100%;
    margin-top: .75em;
}






font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;

